p{
    color:blueviolet;
}

h1{
    color:pink;
}

/* h4{
    text-transform:uppercase;
} */

.convert-upper{
    text-transform: uppercase;
}

.cursive{
    font-family: cursive;
}

#blog-heading{
    color: #66a19a;
}